.Optin {
  display: flex;
  flex-direction: column;
  background-image: url("../../../static/images/optin-background.svg");
  background-position: top left;
  width: clamp(414px, 90.1vw, 1256px);
  height: 478px;
  margin: 0 auto;
  align-items: center;
  border-radius: 24px;
  margin-top: clamp(50px, 10.28vw, 138px);

  p {
    text-align: justify;
    margin-top: 47px;
    color: white;
    font-size: clamp(16px, 3.125vw, 24px);
    width: clamp(377px, 78.38vw, 602px);
    font-weight: 500;
    line-height: 32.74px;
  }

  form {
    width: clamp(378px, 78.38vw, 602px);
    display: flex;
    flex-direction: column;
    padding-bottom: 107px;

    input {
      border: none;
      margin-bottom: 18px;
      border-radius: 6px;
      padding: 10px;
    }

    button {
      border-radius: 35px;
      border: none;
      background-color: #e98d1f;
      color: white;
      padding: 10px 0px;
    }
  }
}
