.Home {
  display: flex;
  padding: 120px 72px 60px 120px;
  background-color: #f7f7f7;

  h1 {
    font-size: 40px;
    width: 758px;
    line-height: 54px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  li {
    color: #373332;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .subtitle {
    color: #7e7876;
    font-family: 20px;
  }

  .left-side {
    flex: 1;
  }
}
